* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
span {
  color: #d92525;
}
body,
html {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}
.header {
  display: flex;
  padding-inline: 2rem;
  align-items: center;
  background-color: black;
  font-family: "Overpass", sans-serif;
}
.logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}
#mobile_logo {
  display: none;
}
#rotating_logo {
  width: 50%;
  animation: rotation 4s infinite linear;
}
#rotating_logo:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}
#navigation-lista {
  display: flex;
  list-style: none;
  width: 85%;
  padding-inline: 1rem;
  justify-content: space-between;
}
#navigation-lista a {
  color: white;
  text-decoration: none;
  margin-inline: 1rem;
  font-size: 1rem;
  transition: all 0.25s;
}
#navigation-lista a:hover {
  color: #d92525;
}
#tickets {
  font-size: 1rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  background-color: #d92525;
  color: white;
  border: none;
  box-shadow: -3px 2px 0px white;
  transition: all 0.5s;
}
#tickets:hover {
  opacity: 0.5;
  cursor: pointer;
}
#menu-btn {
  display: none;
  margin-block: 4rem;
  width: 50%;
  margin-right: 10%;
  transform: scaleX(-1);
}
#menu-btn img {
  width: 3rem;
}

#close-btn {
  display: none;
  margin-left: -0.3rem;
  margin-top: 2rem;
}
#close-btn img {
  width: 3rem;
}
@media (max-width: 1200px) {
  #navigation-lista a {
    font-size: 0.8rem;
    margin-inline: 0.5rem;
  }
  .header {
    padding-inline: 0;
  }
  #tickets {
    padding-inline: 1.2rem;
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .header {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
  }
  .button1 {
    display: none;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .menu {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #navigation-lista {
    flex-direction: column;
    display: none;
    align-items: start;
    justify-content: center;
    margin-top: 5rem;
    width: 50%;
  }
  #navigation-lista li {
    margin-inline: 0;
    margin-block: 0.5rem;
  }
  #navigation-lista a {
    margin: 0;
  }
  .logo {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #rotating_logo {
    display: none;
  }
  #mobile_logo {
    display: block;
    width: 100%;
  }
  #menu-btn {
    display: block;
  }
}

/* SHORT-INFO */
.short-info {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 5rem;
  padding-block: 1rem;
  background-color: white;
}
.short-info p {
  margin-inline: 1rem;
}
@media (max-width: 850px) {
  .short-info {
    display: none;
  }
}

/* HERO PART */
.hero {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: url(slike/backgr1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 25rem;
}
.hero-box h1 {
  width: 40%;
  text-align: start;
  font-size: 3rem;
  color: white;
  margin-top: 6rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
#date {
  margin: 0;
  margin-bottom: 2rem;
}
.hero-box p {
  width: 30%;
  text-align: start;
  font-size: 1.2rem;
  margin-block: 1rem;
  color: white;
}
.hero-box a {
  color: #d92525;
  font-size: 1.2rem;
  margin-block: 3rem;
}
.between {
  display: none;
}
@media (max-width: 850px) {
  .hero-box {
    background: none;
    background: url(slike/11.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
  }
  .hero-box h1 {
    margin-block: 2rem;
    width: 100%;
    font-size: 2rem;
    margin-top: 8rem;
  }

  #date {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .hero-box p {
    font-size: 1rem;
    width: 100%;
  }
  .hero-box a {
    font-size: 1.2rem;
    color: white;
    text-shadow: 5px 4px 2px #d92525;
    text-align: start;
    width: 100%;
  }
  .between {
    margin-inline: auto;
    margin-block: 5rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .between img {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .hero-box h1 {
    width: 100%;
    margin-top: 4rem;
  }
  .hero-box p {
    width: 60%;
  }
  .hero-box {
    padding-left: 8rem;
  }
}
@media (min-width: 851px) and (max-width: 1200px) {
  .hero-box {
    padding-left: 0;
    padding-block: 0;
    margin-block: 5rem;
  }
  .hero-box h1 {
    width: 80%;
  }
  .hero-box p {
    width: 80%;
  }
}
@media (min-width: 500px) and (max-width: 850px) {
  .hero-box {
    background: url(slike/backgr1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo {
    width: 60%;
  }
}
@media (min-width: 500px) {
  .between {
    display: none;
  }
}
/* TRENDING */
.splide__track {
  margin: 0% 20%;
  /* border-radius: 20px !important; */
}
.splide {
  margin-block: 15rem;
  height: 60%;
}
.splide__list {
  background-color: black;
  /* border-radius: 20px !important; */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  transition: 0.4s ease-out;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-tekst-slika {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-tekst-slika img {
  width: 90%;

  filter: brightness(35%);
}
#trending-naslov {
  font-size: 1rem;
  margin-block: 2rem;
  text-align: start;
  width: 60%;
}
.container-tekst-slika {
  position: relative;
  width: 100%;
}
.tekst {
  align-self: flex-start;
  position: absolute;
  left: 10%;
  color: white;
  margin-block: 2rem;
}
.tekst .name {
  font-size: 1.8rem;
  text-align: start;
  width: 100%;
}
.tekst p {
  font-size: 1rem;
  text-align: start;
  margin-block: 1rem;
  width: 80%;
}
.tekst h3 {
  margin-block: 1rem;
  color: #ab36fe;
  font-weight: 1000;
}
.tekst a {
  color: #ab36fe;
  margin-bottom: 3rem;
  font-weight: 700;
}
.splide h1 {
  text-align: start;
  font-size: 2rem;
  color: white;
  width: 80%;
  margin-inline: auto;
}
@media (max-width: 850px) {
  .splide__slide {
    flex-direction: column;
  }
  .splide__slide img {
    width: 100%;
  }
  .splide {
    margin-block: 0;
  }
  #trending-naslov {
    width: 90%;
  }
  .tekst {
    width: 95%;
    left: 30px;
  }
  .tekst .name {
    font-size: 1.1rem;
  }
  .tekst h1 {
    font-size: 2rem;
  }
  .tekst h3 {
    text-align: start;
    width: 80%;
    font-size: 1rem;
  }
  .tekst a {
    text-align: start;
    width: 80%;
  }
  .splide__track {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .splide__list {
    width: 90%;
  }
  .splide h1 {
    text-align: center;
    font-size: 2rem;
    color: white;
    width: 80%;
    margin-inline: auto;
  }
}

/* FOUNDER */
.founder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-block: 15rem;
}
.founder-slika {
  width: 50%;
}
.founder-slika img {
  width: 100%;
}
.founder-tekst {
  width: 50%;
  color: white;
  padding-inline: 4rem;
}
.founder-tekst h1 {
  font-size: 2rem;
  margin-block: 2rem;
}
.founder-tekst p {
  font-size: 1.2rem;
  margin-block: 2rem;
}
.founder-tekst a {
  font-size: 1.2rem;
  color: #d92525;
}
@media (max-width: 850px) {
  .founder {
    flex-direction: column;
  }
  .founder-slika {
    width: 100%;
  }
  .founder-tekst {
    width: 90%;
    margin-block: 2rem;
  }
}

/* COLOR BOXES */
.color-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.red-box {
  width: 100%;
  background-image: url(slike/bggreen.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 0%;
  display: flex;
  flex-direction: column;
}
.red-box img {
  display: none;
}

.red-box h1 {
  margin-block: 2rem;
  font-size: 3rem;
  width: 100%;
}
.red-box p {
  font-size: 1.2rem;
  margin-block: 2rem;
}
.box-text {
  width: 30%;
  padding-left: 8rem;
  padding-block: 10rem;
}
.box-text-black {
  color: #fff !important;
}
.blue-box {
  width: 100%;
  background-image: url(slike/bgpurple.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 0%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.blue-box img {
  display: none;
}
.blue-box .box-text {
  padding-right: 8rem;
  width: 40%;
}
.blue-box h1 {
  margin-block: 2rem;
  font-size: 3rem;
}
.blue-box p {
  font-size: 1.2rem;
  margin-block: 2rem;
}
.box-text a {
  color: #ab36fe;
  font-weight: 900;
}
@media (max-width: 850px) {
  .box-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 90%;
    padding-left: 0;
  }
  .red-box {
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding-bottom: 4em;
    background: #76f834;
  }
  .red-box img {
    display: block;
    width: 100%;
  }
  .red-box a {
    text-align: start;
    width: 100%;
  }
  .red-box h3 {
    width: 100%;
  }
  .blue-box .box-text {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 90%;
  }
  .blue-box {
    align-items: center;
    justify-content: center;
    gap: 4em;
    padding-bottom: 4em;
    background: #ab36fe;
  }
  .blue-box img {
    display: block;
    width: 100%;
  }
  .blue-box h3 {
    width: 100%;
  }
  .blue-box h1 {
    width: 100%;
  }
  .blue-box p {
    width: 100%;
  }
  .blue-box a {
    width: 100%;
  }
}

/* FOOTER */
.footer {
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-block: 20px;
}
.content {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  flex-direction: column;
}
.footer p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.logo-foot {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footlog {
  width: 70%;
}

.social-links {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  text-align: center;
  width: 100%;
}
.socials {
  display: flex;
  width: 100%;
}
.social-links .fa {
  font-size: 2rem;
  color: #ab36fe;
  margin-inline: 40px;
  width: 30%;
  padding: 1rem;
  border: solid 2px #ab36fe;
  border-radius: 200px;
  transition: all 0.5s;
}
.social-links .fa:hover {
  background-color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  text-decoration: underline;
  color: #d92525;
}
.mobile {
  display: flex;
  width: 35%;
  justify-content: space-between;
}
.mobile-socials {
  display: none;
}
@media (max-width: 850px) {
  .logo-foot {
    width: 70%;
  }
  .social-links .fa {
    font-size: 1.5rem;
    padding: 1rem;
    border: solid 2px #ab36fe;
    border-radius: 200px;
    width: auto;
    margin-inline: 1rem;
  }
}

/* BROJKE */
.brojke {
  width: 100%;
  background-color: black;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.brojke-box {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.box-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tekst-box {
  width: 50%;
}
.slika-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slika-box img {
  width: 100%;
}
.brojke-box h1 {
  width: 50%;
  font-size: 3rem;
  text-align: start;
  margin-block: 2rem;
  color: white;
}
.brojke-box h3 {
  color: #ab36fe;
}
.brojke-box p {
  width: 45%;
  text-align: start;
  color: white;
}
.num {
  color: black;
  font-size: 2rem;
  margin-block: 0.5rem;
}

.number-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 10rem;
  border: solid 2px black;
  background-color: #77f835;
  margin-inline: 2.5rem;
}

.number-show h2 {
  font-size: 2rem;
  font-weight: 800;
}
.number-show span {
  font-size: 2rem;
  font-weight: 1000;
}

@media (max-width: 850px) {
  .brojke-box p {
    width: 90%;
  }
  .brojke-box h1 {
    font-size: 2.1rem;
    width: 80;
  }
  .number-show p {
    font-size: 2rem;
    font-weight: 1000;
    color: black;
    text-align: center;
  }
  .brojke-box {
    width: 100%;
  }
  .box-box {
    width: 100%;
    flex-direction: column;
  }
  .tekst-box {
    width: 80%;
  }
  .slika-box {
    width: 80%;
  }

  .number-show {
    margin-block: 1rem;
    width: 50rem;
  }
}
@media (max-width: 1300px) and (min-width: 850px) {
  .brojke-box p {
    width: 90%;
  }
  .brojke-box h1 {
    font-size: 2.1rem;
    width: 80;
  }
  .brojke-box {
    width: 100%;
  }
  .box-box {
    width: 100%;
    flex-direction: column;
  }
  .tekst-box {
    width: 80%;
  }
  .slika-box {
    width: 80%;
    justify-content: start;
  }
  .tekst .name {
    font-size: 1.3rem;
  }

  .number-show {
    margin-block: 1rem;
  }

  .box-text {
    padding-left: 3rem;
    width: 45%;
  }
  .blue-box .box-text {
    width: 50%;
    padding-right: 3rem;
  }
}
/*  MEDIA */
.media-row {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-block: 4rem;
}
.row img {
  width: 8rem;
  opacity: 0.7;
}
.row img:hover {
  opacity: 1;
  cursor: pointer;
}
#pc {
  width: 60%;
}
#mob-img {
  display: none;
}
@media (max-width: 850px) {
  .media-row {
    align-items: center;
    justify-content: center;
  }
  .row {
    margin: 0;
  }
  .row img {
    margin-block: 2rem;
    opacity: 1;
  }
  #mob-img {
    display: block;
    margin-block: 2rem;
  }
  .row img {
    width: 5rem;
    margin-inline: 2rem;
  }
}
/* NEWSLETTER */
.newsletter {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
  padding-block: 4rem;
  border-radius: 20px;
  background: black;
  border: solid 2px #ab36fe;
  transition: all 0.2s;
  width: 60%;
  margin-inline: auto;
}
.newsletter h4 {
  text-align: center;
  font-size: 3rem;
  color: white;
  width: 70%;
  margin-inline: auto;
}
.newsletter #mail {
  width: 15rem;
  padding-block: 1.1rem;
  background-color: #ab36fe;
  border: transparent;
  transition: all 0.3s;
}
.newsletter #mail:focus {
  outline: none;
}
.newsletter input::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}
.newsletter #subscribe {
  padding-inline: 3rem;
  padding-block: 0.85rem;
  border: 2px solid #ab36fe;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  transition: all 0.5s;
}
.newsletter #mail:focus {
  padding-inline: 1rem;
  font-size: 1rem;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
@media (max-width: 850px) {
  .newsletter {
    width: 90%;
  }
  .newsletter h4 {
    font-size: 1.5rem;
    text-align: center;
  }
  .newsletter form {
    width: 70%;
    margin-inline: auto;
    flex-direction: column;
  }
  .newsletter #mail {
    width: 70%;
    padding-block: 1rem;
    text-align: center;
  }
  .newsletter #subscribe {
    width: 70%;
    padding-inline: 0;
    margin-block: 1rem;
  }
}

.show {
  opacity: 1;
}
.hidden {
  opacity: 0;
}

.gallery {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  position: relative;

  display: none; /* MAKNI NA NIZIM EKRANIMA DA SE VIDI */
}
.gallery .buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 45%;
  font-size: 3em;
  font-weight: bold;
}
.gallery .photos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.gallery .block {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}
.gallery .block.active {
  opacity: 1;
}
.gallery .prev,
.next {
  border: none;
  background: transparent;
  cursor: pointer;
}

.gallery .prev {
  margin-right: 40%;
  color: #fff;
  font-size: 2rem;
}
.gallery .next {
  margin-left: 40%;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 900px) {
  .gallery {
    display: block;
    margin-bottom: 0;
  }
  .slider-container {
    display: none;
  }
}

.card {
  height: 300px;
  width: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: transparent;
}

.slider-container {
  width: 80%;
  margin-inline: auto;
  height: 350px;
  transform: translate(-4.5%, 30%);
}
.inner-slider {
  width: 150%;
  display: flex;
  gap: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* CARD SLIDER - MEDIA */
.media {
  margin: 200px 0;
}
.media h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  margin-block: 3rem;
}
.card .profile-details a {
  text-decoration: none;
  color: #1a1a1d;
}
.card .profile-details h3 {
  font-weight: 600;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card .content-box {
  height: 200px;
}
.card .content-box {
  height: 200px;
}
.card .content-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
  background-color: #d92525;
  border-top: 7px solid #1a1a1d;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
main .job {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  width: 50%;
  text-align: start;
}

.name {
  color: whitesmoke;
  letter-spacing: 1px;
}

.swiper-navBtn {
  color: black;
  height: 50px;
  width: 50px;
  background-color: #d92525;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

/* MEDIJI */

main {
  color: #ab36fe;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 80vw;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title h2 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: white;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background-color: #ab36fe;
  margin: 0 auto;
}

.review {
  background-color: black;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px;
  transition: all 0.3s linear;
  text-align: center;
}
.link {
  color: #ab36fe;
}
.review:hover {
  box-shadow: 0 5px 35px;
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.person-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  position: relative;
}
.img-container:after {
  font-family: serif;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: #ffbf00;
  color: #333;
}

.author {
  margin-bottom: 2rem;
  text-transform: capitalize;
  color: #77f835;
  letter-spacing: 0.25rem;
}
.more {
  margin-block: 2rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #ab36fe;
}
.info {
  margin-bottom: 0.75rem;
  color: white;
  width: 50%;
  text-align: start;
  font-size: 1rem;
}
.prev-btn,
.next-btn {
  fill: #77f835;
  width: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 2rem 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  fill: #ab36fe;
}
.media-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .job {
  font-size: 1.5rem;
  font-weight: 1000;
}
@media (max-width: 850px) {
  main .job {
    width: 90%;
    font-size: 1.2rem;
  }
  main .info {
    width: 90%;
    margin-block: 0.5rem;
  }
  .prev-btn,
  .next-btn {
    margin: 1rem 0.5rem;
  }
  .img-container {
    margin-bottom: 1rem;
  }
}
